.footer-page{
	background-color: #bfbfbf;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
	margin-top: 80px;
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px;
  width: 100%;
  height: auto;
}

.footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}


 p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}
 p.radio {
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
  font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}
 p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}
.compname{
  font-size: 20px;
	color: #ffff80;
	text-align: center;
	line-height: 35px;
}
