.main{
  background-color: #ffb3b3;
    padding:100px;
}

.img {
    margin: 150px;
    float: left;
    width: 300px;
    border: 2px solid black;
}

.img:hover {
    border: 1px solid #777;
}

.img img {
    width: 100%;
    height: 40%;
}

.desc {
    padding: 15px;
    text-align: center;
}

footer {
	text-align:center;
}

.msg {
  text-align: center
}

.g_h2{
  text-align: center;
}


.slideshow {
    padding: 00;

}

#activate {
    margin: 17px 0;
    width: 300px;
    height: 64px;
    font-size: 18px;
}

.header {
    margin: 100px 0;
}

.headerImg {
    width: 100%;
    height:85%;
    align-items: center;
}
