#bg {
  width: 100%; height: 25px; position: absolute; top: 0px; left: 0px; background-image: url(./../res/candycanestripe.png);
}

nav.nav-menu {
  position: absolute;
  height: 60px;
  width: 100%;
  left: 0px;
  right: 0px;
  background-color: white;
  z-index: 1;
  text-align: center;
  top: 130px;
}

nav.nav-menu.fixed {
  position: fixed;
  top: 0px;
}

nav a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

header {
  height: 190px;
  font-family: 'Pacifico', cursive
}

header a {
  font-size: 24px;
}

header a:link,
header a:visited {
    color: #585a5c
}

header a:hover {
    color: #f47795
}

header #contact {
  width: 380px;
  height: 61px;
}

div.nav-menu > .nav{
  margin-left: 90px;
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 15px;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #337ab7;
}

.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.navbar {
  position: relative;
  min-height: 50px;
}

.navbar-right {
  position: absolute;
  right: 10px;
}

.navbar-header {
  width: 165px;
  height: 180px;
  float: left;
}

.container > .navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}

.navbar-nav {
  margin: 7.5px auto 7.5px auto;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}

.tab.active {
  text-decoration: overline;
}

#login > a {
  padding-right: 0px;
}

#login > a:hover::after,
#login > a:active::after {
  content: " /Join";
}

#login > ul {
  position: static;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.nav::before,
.nav::after,
.navbar::before,
.navbar::after,
.navbar-header::before,
.navbar-header::after,
 {
  content: " ";
  display: table;
}
.nav::after,
.navbar::after,
.navbar-header::after {
  clear: both;
}