nav {
  position: relative;
  min-height: 50px;
  border: 1px solid transparent;
  background-color: #151515;
  border-color: #080808;
}

#user {
  float: right;
}

.nav-brand {
  float: left;
}

nav  a {
  display: block;
}

nav::before,
nav::after {
  content: "";
  clear: both;
}

#top-menu {
  width: 100%;
}

#top-menu a {
  padding: 15px;
}

#side-menu {
  width: 250px;
  height: 100%;
  position: absolute;
}

#side-menu .menu-items::before {
  content: "";
  display: block;
  height: 65px;
}

#side-menu ul {
  margin: 0px;
  padding: 0px;
}

#side-menu li {
  line-height: 40px;
}

#side-menu a:hover {
  background-color: rgba(255, 255, 255, 0.2)
}

.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}
.navbar-inverse .navbar-brand {
  color: #9d9d9d;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}

