nav {
  position: relative;
  min-height: 50px;
  border: 1px solid transparent;
  background-color: #151515;
  border-color: #080808;
}

#user {
  float: right;
}

.nav-brand {
  float: left;
}

.nav-brand img {
  height: 30px;
  width: 30px;
}

.nav-brand a {
  display: inline;
}

nav  a {
  display: block;
}

nav::before,
nav::after {
  content: "";
  clear: both;
}

#top-menu {
  width: 100%;
}

#top-menu a {
  padding: 15px;
}

#side-menu {
  width: 250px;
  height: 100%;
  position: absolute;
}

#side-menu .menu-items::before {
  content: "";
  display: block;
  height: 65px;
}

#side-menu ul {
  margin: 0px;
  padding: 0px;
}

#side-menu li {
  line-height: 40px;
}

#side-menu a:hover {
  background-color: rgba(255, 255, 255, 0.2)
}