input[type="text"] , input[type="password"]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	text-align:center;
	font-size:15px;

}
input[type="date"]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	text-align:center;
	font-size:15px;
}


input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
}



font{
	width:auto;
}

em{
	color:red;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
td,th,tr{
	vertical-align:middle;
	text-align:center;
}
input[type=submit]:hover {
    background-color: #45a049;
}
table{
	margin-left:auto;
	margin-right:auto;
	width:85%;
	margin-top:auto;
	margin-bottom:auto;
	padding:40px;

}
label{
	color:black;
	font-size: 20px;
}
div.right {
	width: 50%;
    float: right;
    height: 550px;
    color: white;
	background-color: #f2f2f2;
	border-radius:5px;
}
.container{
	width: 95%;
    margin: auto;
	border-radius:5px;

}
.left{
	width: 50%;
    float: left;
    height: 450px;

}

.clear{
	clear: both;
}

.img{
	margin:auto;
	width:115%;
	height:550px;
	border-radius:5px 0px 0px 5px ;
}
